.trim-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2;
}

.delete:hover,
.delete:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  font-weight: 500;
  color: gray !important;
  box-shadow: transparent !important;
}

.delete {
  background-color: transparent !important;
  border-color: transparent !important;
  color: black !important;
}

.url-row {
  height: 40px;
  padding-right: 5rem;
}
.form-control:focus {
  border-color: #d2cece !important;
  box-shadow: 0 0 0 0.2rem rgba(66, 194, 153, 0.25) !important;
}

.url-row:hover {
  height: 40px;
  margin-right: 5.5rem;
  background-color: rgba(29, 155, 209, 0.1);
  border-color: #dcf0fb;
}

.url-add {
  background-color: #42c299 !important;
  color: black;
  border: none !important;
}

.url-add:hover {
  color: black;
  border: none;
}

.url-add:focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 194, 153, 0.5) !important;
}

.trim-text:hover {
  height: 40px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(247, 181, 144, 0.25);
  border-color: rgb(248, 216, 205);
}

.btn-light {
  background-color: transparent;
  border-color: transparent;
  font-weight: 300;
}

.btn-light:hover {
  background-color: transparent;
  border-color: transparent;
  font-weight: 400;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}
